<!doctype html>
<title>Incorrect URL</title>
<div class=page>
  <h1>Sorry! Page Not Found</h1>
<table >

<th><td>Monitoring Solution</td><td>URL</td><td>Request Type</td></th>
<tr><td> <a href='http://129.107.255.31:8080/atlas/nagios/compute_nodes'>Nagios</a></td><td>129.107.255.31:8080/atlas/nagios/compute_nodes</td><td>GET</td>
<tr><td><a href='http://129.107.255.31:8080/atlas/ganglia'>Ganglia</a></td><td>129.107.255.31:8080/atlas/ganglia</td><td>GET</td>
<tr><td><a href='http://129.107.255.31:8080/atlas/torque'>Torque</a></td><td>129.107.255.31:8080/atlas/torque</td><td>GET</td>
</table>
</div>
